
body{
margin: 0rem;
}
.logo{
    width: 3rem;
    

}
.main{
    background-color:#121624 ;
 width: 100%;
 position:fixed;
 z-index: 1;
}
.textclr{
    color: white;
   font-weight:500;
   font-size: large;
    margin:1rem;
}
.section-1{
    background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.8); 
    width: 100%;
    padding-top:7rem;
    
    
    

} 
.thoughts{
    color: rgb(252, 245, 233);
    margin-left: 5rem;
}

.start_section{
 
  height: 36rem;
  width: 30rem;

 
 

}


.intro{
    position: absolute;
  bottom: 0rem;
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.8); 
  color: #f1f1f1;
  width: 30rem;
  height: 27rem;
  margin-bottom: 9rem;
  float: left;

  
}
.hello{
    color: rgb(112, 116, 119);
    margin-left:2rem;
    margin-top: 10rem;

}
.name{
    color: #088177; 
    position: relative;
    font-weight: 200;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2rem;
    margin-top: 2rem;
}

.sub-text{
    color: rgb(243, 233, 243);
    margin-left: 2rem;
}
.section-2{
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.8); 
      width: 100%;
      padding-top:7rem;
}

.card{
    float: left;
    margin-top: 1rem;
    margin-left: 1rem;
}
.card-body{
    padding: 0rem;
    min-height: 5rem;
}
.col-md-6{
max-width: 45%;
}

.about{
    color: #088177; 
    text-shadow: 2px 2px 4px #110202;

}

.section-3{
    
    width: 100%;
    background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.8); 
}
.edu{
    color: thistle;
    
    
}
.content{
    color: aliceblue;
}
.card-img{
    height: 11rem;

}
.section-4{
    background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.8); 
    width: 100%;
    
}

.skills{
    color: aliceblue;
    text-shadow: 2px 2px 4px #110202;
}
.skill-head{
    color: #e7c70f;
    text-shadow: 2px 2px 4px #110202;
}
.section-5{
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.8); 
    width: 100%;
    

}
.image-4{
    width: 15rem;
    height: 16rem;
    
}
.work-head{
    color: #e7c70f;
    text-shadow: 2px 2px 4px #110202;
}
.section-6{
    background: #c7aa07 ;
    width: 100%; 
    background-image: url("img5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
  
}

.contact{
    color: #e7c70f;
    text-shadow: 2px 2px 4px #110202;
}
.form-group{
    color: rgb(241, 226, 226);
}
.form-control{
    width: 80%;
    border-radius: 1em;
    height: 3em;
    border-color: #007bff;

   
}
.btn-primary{
    width: 80%;
    border-radius: 1em;
    background-color: rgb(5, 50, 80);
}
.footer{
    width: 100%;   
    background-color:rgb(5, 50, 80);
   
  
}
.fab{
    margin-right: 5em;
    font-size: xx-large;
}

.p{
    margin-top: 3em;  
}
body{
    margin: 0em;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 99;
   
    border: none;
    outline: none;
    background-color: rgb(37, 25, 25);
    color: white;
    cursor: pointer;
    padding: 1rem;
    border-radius: 1rem;
  }
  
  #myBtn:hover {
    background-color: #555;
  }