
body{
margin: 0rem;
}
.logo{
    width: 3rem;
    

}
.main{
    background-color:#121624 ;
 width: 100%;
 position:fixed;
 z-index: 1;
}
.textclr{
    color: white;
   font-weight:500;
   font-size: large;
    margin:1rem;
}
.section-1{
    background-color:#121624 ;
    width: 100%;
    padding-top:7rem;
    
    
    
} 
.start-section{
  background-image: url("img.jpeg");
  background-color: #cccccc;
  height: 600px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: luminosity;
  

}
.hello{
    color: rgb(112, 116, 119);
    margin-left:2rem;
    margin-top: 10rem;

}
.name{
    color: #e7c70f;
    position: relative;
    font-weight: 200;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2rem;
    margin-top: 2rem;
}

.sub-text{
    color: rgb(14, 13, 14);
    margin-left: 2rem;
}
.quote{
    color: aliceblue;
    margin-left: 7rem;
    margin-top: 3rem;

}
.about{
    color: #e7c70f; 
    text-shadow: 2px 2px 4px #110202;

}

.section-2{
    
    width: 100%;
    background-color:#121624 ;
   
}
.edu{
    color: thistle;
    
    
}
.content{
    color: aliceblue;
}
.card-img{
    height: 11rem;

}
.section-3{
    background-color:#121624 ;
    width: 100%;
    
}

.skills{
    color: aliceblue;
    text-shadow: 2px 2px 4px #110202;
}
.skill-head{
    color: #e7c70f;
    text-shadow: 2px 2px 4px #110202;
}
.section-4{
    background-color:#121624 ;
    width: 100%;
    

}
.image-4{
    width: 15rem;
    height: 16rem;
    
}
.work-head{
    color: #e7c70f;
    text-shadow: 2px 2px 4px #110202;
}
.section-5{
    background: #c7aa07 ;
    width: 100%; 
    background-image: url("img5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
  
}

.contact{
    color: #e7c70f;
    text-shadow: 2px 2px 4px #110202;
}
.form-group{
    color: rgb(241, 226, 226);
}
.form-control{
    width: 80%;
    border-radius: 1em;
    height: 3em;
    border-color: #007bff;

   
}
.btn-primary{
    width: 80%;
    border-radius: 1em;
    background-color: rgb(5, 50, 80);
}
.footer{
    width: 100%;   
    background-color:rgb(5, 50, 80);
   
  
}
.fab{
    margin-right: 5em;
    font-size: xx-large;
}

.p{
    margin-top: 3em;  
}
body{
    margin: 0em;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 99;
   
    border: none;
    outline: none;
    background-color: rgb(37, 25, 25);
    color: white;
    cursor: pointer;
    padding: 1rem;
    border-radius: 1rem;
  }
  
  #myBtn:hover {
    background-color: #555;
  }